body{
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
    background-color: black;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 10vh;
}

header nav menu{
    list-style: none;
}

header nav menu{
    display: flex;
}

a{
    text-decoration: none;
    color: #fff;
}

header nav menu li a{
    padding: 10px;
}

section{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

section:nth-child(odd){
    background-color: aqua;
}

