*{
    margin: 0%;
    padding: 0%;
}
body{
    min-height: 100vh;
    background-color: #1E232D;
}
nav{
    height: 10vh;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav li{
    height: 50px;
    display: flex;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f8f8f8;
}
nav a:hover{
    font-size: 1.2em;
    color: red;
}
button:hover{
    font-size: 1.2em;
}
nav li:first-child{
    margin-right: auto;
    font-size: 2em;
}
.Dharav{
    margin-left: 10px;
}
nav li:last-child{
    margin-right: 20px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(30, 35, 45, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    display: none;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.Menubutton{
    display: none;
}
button{
    background-color: red;
    color: #f8f8f8;
    border-radius: 12px;
}
span{
    color: red;
    font-family: "Karla", sans-serif;
}
#Home{
    display: flex;
    align-items: center;
    height: auto;
    color: #f8f8f8;
    width: 100%;
}
.introduction{
    width: 50%;
}
.introduction p, h1{
    padding: 0.5% 0% 1% 13%;
}
.resume{
    margin: 0.5% 0% 1% 13%;
    height: 2em;
    width: 8em;
}
.socialmedia{
    display: flex;
}
.socialmedia img{
    height: 3em;
    width: 3em;
    border-radius: 50%;
}
.socialmedia a{
    padding: 1% 2%;

}
.socialmedia img:hover{
    height: 3.5em;
    width: 3.5em;
}
.socialmedia a:first-child{
    padding-left: 13%;
}
.image img{
    border-radius: 50%;
    height: 55vh;
}
#Skills{
    margin-top: 3em;
    text-align: center;
    color: #f8f8f8;
}
.skill_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding-top: 3em; */
}
.skill_logo img{
    height: 30vh;
    width: 30vh;
    padding: 3em;
}
.skill_logo_mobile{
    display: none;
}
/* Toggleform css */
#form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

form {
    display: flex;
    flex-direction: column;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #888;
}
input, .form-buttons {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-buttons {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* about section style */
#about{
    color: #f8f8f8;
    margin-top: 5px;
}
.introduction_heading{
    text-align: center;
}
.sub_text_container_about{
    padding: 0% 5%;
}

#about_grid{
    margin-top: 5px;
    display: grid;
    color: #f8f8f8;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
}
.text_container_about{
    left: 0;
    width: 100%;
}
.image_container_about{
    width: 100%;
}
.image_container_about img{
    height: auto;
    width: 100%;
    border-radius: 50%;
}
.skill_container_about{
    width: 100%;
}

/* skills css */
.skill_heading{
    text-align: center;
    padding-bottom: 10px;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 55%; background-color: #808080;} /* Dark Grey */
.java{width: 70%; background-color: #4F00B7;}
.python{width: 65%; background-color: #00B7AB;}

@media(max-width: 800px) {
    .hideOnmobile{
        display: none;
    }
    .Menubutton{
        display: block;
        right: 0;
    }
    .skill_logo{
        display: none;
    }
    .skill_logo_mobile{
        display: block;
    }
    .skill_logo_mobile img{
        height: 7%;
        width: 7%;
        padding: 2% 7% 0%;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
    .image{
        display: none;
    }
}